{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
<div class="form " style="width: 80%; margin-left: 5%">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.firstname) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.email) }}</div>
    </div>
    {{ form_rest(form) }}
</div>


{% endblock %}