<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
</head>
<body>
<p> Tu veux savoir ton nombre de session? </p>
<h4>Tadaaammmm : {{ app.session.get('nbVisite') }}</h4>
</body>
</html>
