{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-success">
        {{ personne.Firstname }} {{ personne.Name }} a {{ personne.Age }}
    </div>
{%  endblock %}

{% block title %}

{% endblock %}