{% extends 'template.html.twig' %}

{% block title %}Liste de personne{% endblock %}

{% block body %}
<div class="row"><div class="card" style="width: 18rem;">
        {% for personne in personnes %}
        <div class="card-body">
            <h5 class="card-title">{{ personne.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ personne.name }} {{ personne.firstname }}</h6>
            <p class="card-text">Age : {{ personne.age }}</p>
            <a href="#" class="card-link">Clic me</a>
            <a href="#" class="card-link">Or me</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
