{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}


    <div class="row-role">
        <h1> Liste des roles </h1>
            <div class="table-role">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Role_ID</th>
                        <th scope="col">Libelle</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ role.id }}</td>
                                <td>{{ role.libelle }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}
