{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}


    <div class="row">
        <h1> Liste des roles </h1>
        {% for role in roles %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Role : {{ role.id }}</h5><br>
                    <p class="card-text">Libelle : {{ role.libelle }}</p>
                    {#  <a href="{{ path('detail_personne', {id: personne.id}) }}" class="card-link">Details</a>
                    <a href="{{ path('delete_personne', {id: personne.id}) }}" class="card-link">Delete</a>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
