{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}


    <div class="row">
        <h1> Liste des roles </h1>
        {% for role in roles %}
            <div class="table-role">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Role_ID</th>
                        <th scope="col">Libelle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td>{{ role.id }}</td>
                        <td>{{ role.libelle }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
